<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.patrickheneise.cordova.statusbar"
        version="0.0.2">

  <name>Status Bar</name>
  <description>Cordova Status Bar Plugin</description>
  <license>Apache 2.0</license>
  <keywords>cordova,status,bar</keywords>

  <js-module src="www/StatusBar.js" name="StatusBar">
    <clobbers target="navigator.statusbar" />
  </js-module>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="StatusBar">
          <param name="ios-package" value="StatusBar" />
      </feature>
    </config-file>

    <header-file src="src/ios/StatusBar.h" />
    <source-file src="src/ios/StatusBar.m" />
    </platform>
</plugin>